<p-button
    label="Back"
    styleClass="p-button-link"
    routerLink="/tours">
</p-button>

<div class="flex flex-1">
    @if (tour) {
        <p-card
        header="{{tour.name}}"
        subheader="{{tour.price}}"
        styleClass="p-card-shadow col-10 overflow-hidden"
    >
    <ng-template pTemplate="header">
        <img src="/img/{{tour.img}}" alt="Card">
    </ng-template>
    <p>{{tour.description}}</p>
    </p-card>
    } @else {
        Нет данных
    }
    
    <div class="nearest-tour">
        <app-nearest-tours 
        type="test"
        [tourNearest]="tour" />
    </div>
</div>